

.header::after{
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    height: 100%;
    position: absolute;
    transform: skewY(-7.5deg);
    transform-origin: 0 100%;
    z-index: -1;
    background-color:  #FBD062;
}
