.sidebar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 40px;
    width: 300px;
}

.sidebar-option{
    margin: 40px 0 0 12px;
}

.sidebar-option > h6{
    margin: 20px 0;
}

h6 > img {
    margin-right: 8px;
}
