.App{
  font-family: 'Poppins';
}

.logo > img{
  width: 150px;
  height: 47px;
}

.text-brand{
  /* color: #20232A;  */
  color: #282c34;
  font-weight: 900 ;
}

.text-green{
  color: #009444;
}

.text-light-dark{
  color: #8f8f8f;
}


.button-primary{
  background-color: #20232A;
  width: 8rem;
  height: 2.5rem;
  text-align: center;
  border-radius: 5px;
  color: white !important;
  text-decoration: none;
}

.link-primary{
  color: inherit;
  text-decoration: none;
}




@media only screen and (min-width: 1200px) {
  .header{
    padding: 0 100px;
  }
}


@media screen and (min-width: 218px) , screen and (max-height: 700px) {
  .header::after{
    height: 760px !important;
  }
  .image-row > div{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .image-row{
    margin-top: 100px;
  }

  .image-row > div{
    width: 200px;
  }
  

}

@media screen and (max-width: 765px) , screen and (max-height: 700px) {
  .header::after{
      height: 700px;
  }

  .header{
    height: 700px;
  }

  
}

@media screen and (min-width: 768px) , screen and (max-height: 700px) {
  .header::after{
      height: 650px !important;
      transform: skewY(-8.5deg);
  }

  .header{
    height: 650px;
  }

  
}

@media screen and (min-width: 968px) , screen and (max-height: 700px) {
  .header::after{
      height: 700px;
  }
  .header{
    height: 700px;
  }



  .image-row{
    margin-top: -50px;
  }

  
}

@media screen and (min-width: 1140px) , screen and (max-height: 700px) {
  .header::after{
      height: 730px !important;
  }
  .header{
    height: 750px;
  }


  .image-row{
    margin-top: -50px;
  }

  
}

@media screen and (min-width: 1440px) , screen and (max-height: 700px) {
  .header::after{
      height: 800px;
  }

  .image-row{
    margin-top: -100px;
  }
}

@media screen and (min-width: 1540px) , screen and (max-height: 700px) {
  .header::after{
      height: 800px !important;
  }

  .image-row{
    margin-top: 0px;
  }
}