
.carousel-indicators > li {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #FBD062;
    margin-left: 10px;
  }


/* .carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
} */


.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 30px;
  width:  30px;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid ;
  background-color: #888888;
}



@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .carousel-item img{
    width: 97% !important;
  }
}

